{%extends 'main.html'%}

{%block content%}
<div class="login-body">
    <div class="loginform">
        <header class="login-header">
            <span class="first_login_span">Login</span>
            <span>Your Account</span>
        </header>
        <form action="" class="login-form">
            <input class="login-input" type="text" placeholder="Username">
            <input class="login-input" type="email" placeholder="Email">
            <input class="login-input" type="password" placeholder="Password">
            <div class="login_but"><input type="button" value="Login"></div>

        </form>
    </div>

</div>   

{%endblock content%}